$font__heading: 'Poppins', sans-serif;
$font__body: 'Karma', serif;

$color__princess: #fccccb;
$color__tempest: #e8e86d;
$color__deluge: #deeffc;
$color__inferno: #ff8d99;
$color__quake: #ffe174;
$color__white: #ffffff;
$color__black: #090400;

$color__link: $color__princess;
$color__link-hover: darken($color__princess, 20%);